body{
    margin: 0;
}

h1{
    font-size: 3em;
}

/* Title */
.title {
 background-color: antiquewhite;
 padding: 20px;
}

.title div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title img{
    height: 400px;
    width: 400px;
}

.title p {
    font-size: 1.5em;
}

/* Quotes */
.quote-container{
    display: flex;
    align-items: center;
}

/* Experience */
.experience{
    background-color: antiquewhite;
}

/* Education */
.education{
    background-color: #DFA878;
}

/* Complementary Education */
.complementary-education{
    background-color: #CEE6F3;
}

/* Skills */
.skills{
    
}

.skills .container{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
/* 
.projects{

}
*/
.contact{

}