body{
    margin: 0;
    background-color: #FAF4F1;
}

h1{
    font-size: 3em;
}

h2{
    text-align: center;
}

hr{
    border: none;
    height: 2px;
    background-color: #BF7D5F;
}

/* Title */
.title {
 background-color: #FAF4F1;
 padding: 40px;
}

.title div{
    color: #725954;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title img{
    height: 400px;
    width: 400px;
}

.title p {
    font-size: 1.5em;
}

/* Quotes */
.quote{
    background-color: white;
}

.quote-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quote-item{
   width: 200px;
}

/* Experience */
.experience{
}

.experience-container{
    display: flex;
    justify-content: center;
}

/* Education */
.education{
}

.education-container{
    display: flex;

}
/* Complementary Education */
.complementary-education{
}

/* Skills */
.skills{
}

.skills-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.skills-item{
display: flex;
justify-content: center;
}

/* 
.projects{

}
*/
.contact{
color: #BF7D5F;
}

.contact-container img{
    display: flex;
    justify-content: center;
    width: 20px;
}